<div class="container">
    <div class="row">
        <div class="col s12 center-aligned">
            <h2>Create a Quiz</h2>
        </div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <form class="column s9">
            <div class="row">
                <div class="input-field col s9">
                    <input id="quiz_title" type="text" class="validate" />
                    <label for="quiz_title"><b>What would you like to title your quiz?</b></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s9">
                    <input placeholder="Type your first question here" id="first_question" type="text"
                        class="validate" />
                    <label for="first_name">First Question</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s9">
                    <input placeholder="Answer to the first question" type="text" class="validate" />
                    <label for="first_answer">First Answer</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s9">
                    <input placeholder="Type your second question here" id="second_question" type="text"
                        class="validate" />
                    <label for="first_name">Second Question</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s9">
                    <input placeholder="Answer to the second question" type="text" class="validate" />
                    <label for="second_answer">Second Answer</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s9">
                    <input placeholder="Type your third question here" id="third_question" type="text"
                        class="validate" />
                    <label for="first_name">Third Question</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s9">
                    <input placeholder="Answer to the third question" type="text" class="validate" />
                    <label for="third_answer">Third Answer</label>
                </div>
            </div>
        </form>
        <a class="dropdown-trigger btn" href="#" data-target="category-dropdown">Quiz Category</a>
        <ul id="category-dropdown" class="dropdown-content">
            <li><a id="Geography" href="#!">Geography</a></li>
            <li><a id="Music" href="#!">Music</a></li>
            <li><a id="Movies" href="#!">Movies</a></li>
            <li><a id="Sports" href="#!">Sports</a></li>
        </ul>
        <div class="col s3 push-s9">
            <a href="./takequiz" class="waves-effect waves-light btn-large create-quiz">Create Quiz</a>
        </div>
    </div>

    <div class="divider"></div>
</div>
