<div class="container">
    <div class="row">
        <br>
        <br>
        <div class="col s6 center-align">
            <a href="#" id="create-quiz"><i class="large material-icons">assignment</i></a>
            <h3>Create a Quiz</h3>
            <p class="flow-text"> Create your own quiz then send it to your friends! </p>
        </div>
        <div class="col s6 center-align">
            <a href="#" id="take-quiz"><i class="large material-icons">edit</i></a>
            <h3>Take a Quiz</h3>
            <p class="flow-text">Choose a catagory and take a quiz!</p>
        </div>
    </div>
</div>
